@font-face {
    font-family: 'SportingGrotesque';
    src: url('/assets/fonts/SportingGrotesque-Regular.woff2') format('woff2'),
        url('/assets/fonts/SportingGrotesque-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SportingGrotesque';
    src: url('/assets/fonts/SportingGrotesque-Bold.woff2') format('woff2'),
        url('/assets/fonts/SportingGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}