/* Custom Animations */

@keyframes fadeInTab {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.xb-video-wrap .tab-pane.active {
    animation: fadeInTab 0.5s ease-out forwards;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.xb-floating {
    animation: floating 3s ease-in-out infinite;
}